<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEEDO - Landing</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <div class="app-container landing-screen">
    <!-- 상단 고정 이미지 -->
    <img src="{{ url_for('static', filename='image/clock.png') }}" alt="Top Bar" class="top-bar">

    <div class="logo-container">
      <img src="{{ url_for('static', filename='image/seedo_logo.png') }}" alt="SEEDO Logo" class="logo">
    </div>

    <!-- 하단 고정 이미지 -->
    <img src="{{ url_for('static', filename='image/bar.png') }}" alt="Bottom Clock" class="bottom-bar">
  </div>

  <script>
    setTimeout(function() {
      window.location.href = "/login";
    }, 5000); // 5000ms = 5초
  </script>
</body>
</html>
